@import url("https://fonts.googleapis.com/css2?family=Itim&family=Outfit:wght@500;600&display=swap");
* {
  box-sizing: border-box;
  font-family: "Itim", cursive;
}

body {
  background-color: hsl(217, 54%, 11%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body > p {
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: auto;
  width: 25vw;
  border-radius: 15px;
  background-color: hsl(216, 50%, 16%);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  position: relative;
}
.card > img {
  border-radius: 10px;
}

/* style hover img */
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image:hover {
  opacity: 1;
}

.middle:hover {
  opacity: 0.8;
}

.text {
  background-color: hsl(215, 51%, 70%);
  color: white;
}

/* Equilibrium style */
.ETH-p {
  font-weight: 400;
  color: hsl(215, 51%, 70%);
}

.ETH > p {
  font-weight: 500;
  font-size: 20px;
  color: hsl(0, 0%, 100%);
}

.ETH > p:hover {
  font-weight: 600;
  color: hsl(215, 51%, 70%);
  cursor: pointer;
}

.ETH-span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(178, 100%, 50%);
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

/* avatar style */
.avatar {
  display: flex;
  align-items: center;
}
.avatar > img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border: 1px solid white;
  border-radius: 50px;
}

#span1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#span1 > img {
  margin-right: 5px;
}

span {
  color: hsl(215, 51%, 70%);
}

#span2 {
  color: hsl(0, 0%, 100%);
}

#span2:hover {
  font-weight: 500;
  color: hsl(215, 51%, 70%);
  cursor: pointer;
}
